
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="assets/hololens_education.jpg" height="350" alt="{{ site.title }}" class="wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">Через несколько лет дополненная реальность будет использоваться повсюду.</p>

  </div>
</div>
<H2 align="left" style="font-family:'Open Sans', sans-serif;" class="wow animated slideInUp" data-wow-delay=".10s"><span style="font-size:50px;">30 лет</span><br>Всемирной паутине</H2>
<p class="wow animated slideInUp">
Всемирная паутина
</p>

<H4 class="wow animated slideInUp" data-wow-delay=".15s"><Font color="#95ffcc"><b><a style="text-decoration:none" href="future">Взгляд в будущее</a></b></Font></H4>
{% include projects/index.html %}