<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmWejI7Yoj5E6wcmPLbdqHHCHCBrz7onf5dG_kUT-whgt-FpOdHYQRQU5DpKG1mqDmb0Y&usqp=CAU" alt="{{ site.title }}" class="wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">Сайт еще не открыт!</p>

    
    
  </div>
</div>
<H4 style="margin: 10px auto"><Font color="#95ffcc"><b><a style="text-decoration:none" href="future">Взгляд в будущее</a></b></Font></H4>
{% include projects/index.html %}